Hardware/HLS/csim
Hardware/HLS/*.tmp
Hardware/HLS/csynth.prj


Hardware/*.h 
Hardware/*.txt 
Hardware/*.rpt 
Hardware/*.jdi 
Hardware/*.pin 
Hardware/*.sld 
Hardware/*.csv 
Hardware/*.sof 
Hardware/*.qws 
Hardware/*.rbf
Hardware/*.done 
Hardware/*.smsg 
Hardware/*.summary 
Hardware/*.sopcinfo 

Hardware/db 
Hardware/.qsys_edit 
Hardware/soc_system
Hardware/incremental_db 
Hardware/hps_isw_handoff 
Hardware/soc_system.BAK.qsys 

Host/__pycache__/
Host/*.txt
Host/.ipynb_checkpoints/
